{{define "content"}}
{{.Title}}
<br>
{{.Message}}

<a href="/newblog"><button class="redirect">Write a new post</button></a>

{{if .Error}}
<div class="alert-danger">
    {{range $key, $msg := .Error}}
    <p>{{$msg}}</p>
    {{end}}
</div>
{{end}}

{{if .UserData}}
{{ range .UserData }}
<a href="/view/{{ .ID }}">
    <div class="blogPost">
        <p class="blog-post-text">{{ .User.Name }}</p>
        <h1 class="blog-post-text">{{ .Title | uppercase }}</h1>
        <br>
        <p class="blog-post-text">{{ .Contents | truncate }}</p>
    </div>
</a>
{{end}}
{{end}}

<div class="pagination-selector">
    {{ if .Pagination.Previous }}
        <li><a class="pagination" href="/blog/{{ .Pagination.Previous }}">&laquo;</a></li>
    {{ end }}
    {{ if .Pagination.TotalPages }}
        {{ range $i := .Pagination.TotalPages }}
            <li><a class="pagination" href="/blog/{{ add $i 1 }}">{{ add $i 1 }}</a></li>
        {{ end }}
    {{ end }}
    {{ if .Pagination.Next }}
    	<li><a class="pagination" href="/blog/{{ .Pagination.Next }}">&raquo;</a></li>
    {{ end }}

</div>


<style>
    :root {
        --primary: #2d518d;
        --secondary: #142540;
        --light-secondary: #10317f;
        --grey: #4c4c4c;
        --dark: #222222;
        --light-blue: #488ecc;
        --light-light-blue: #53acda;
        --light: #eaeff4;
        --dark-light: #cdcdcd;
    }

    .pagination-selector {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0px;
    }

    .pagination-selector li a.pagination {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        border: 1px solid white;
        color: white;
        margin: 0 4px;
        background-color: #222;
        border-radius: 5px;
    }

    .alert-danger {
        color: red;
        font-size: 2rem;
        background-color: white;
    }

    .blogPost {
        background-color: #222;
        color: white;
        border: 1px solid white;
        border-radius: 6px;
        margin: 10px;
        padding: 20px;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        text-decoration: none;
    }

    .blog-post-text {
        margin: 2px;
    }

    h1.blog-post-text {
        font-size: 20pt;
    }

    a {
        text-decoration: none;
    }

    .redirect {
        color: white;
        background-color: #222;
        border: 2px solid white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 8px;
        transition: background-color 0.3s ease,
            color 0.3s ease,
            box-shadow 0.3s ease;
    }

    .redirect:hover {
        background-color: var(--light);
        color: var(--primary);
        box-shadow: 0px 0px 10px var(--light-blue);
    }
</style>
{{end}}